body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#search-bar {
    padding: 10px;
    background: #f8f9fa;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#search-bar input {
    padding: 5px;
    font-size: 14px;
    width: 150px;
}

#search-bar button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#search-bar button:hover {
    background-color: #0056b3;
}

#map {
    height: calc(100vh - 50px);
    width: 100%;
}
